body {
    font-family: 'Arial', sans-serif;
    background-color: #f7e6f7;
    color: #333; 
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

#contenedor-juego {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 10px;
    overflow: hidden;
}

#terreno {
    white-space: pre;
    font-size: 20px;
    margin-top: 20px;
    color: #222;
    display: inline-block;
    border: 3px solid #ff66b2;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    line-height: 1.5;
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
    overflow: hidden;
}

h1 {
    color: #ff66b2;
    font-size: 2em;
    margin: 10px 0;
}

#reglas {
    background-color: #fff0f5;
    border: 2px solid #ff66b2;
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    max-height: 25vh;
    overflow-y: auto;
    flex-grow: 1;
}

#mensaje {
    margin-top: 20px;
    font-size: 24px;
    color: #ff66b2;
    overflow: hidden;
}

button {
    background-color: #ff66b2;
    color: white;
    font-size: 18px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    max-width: 100%;
}

button:hover {
    background-color: #ff3385;
}

.jugador {
    width: 55px;
    height: 55px;
}

.bonshot {
    width: 55px;
    height: 55px;
}

.spider {
    width: 55px;
    height: 55px;
}

#volverBtn {
    background-color: #ff99cc;
}

#volverBtn:hover {
    background-color: #ff66b2;
}

.matriz {
    width: 100%;
    height: 100%;
    margin: 0 auto;
}


.matriz td {
    width: 3.5vw;
    height: 3.5vw;
}


.matriz img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.loveletter {
    width: 55px;
    height: 55px;
}