<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Woofshot</title>
    <!-- Enlace al archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="contenedor-juego">
        <h1>Woofshot kiss game :3</h1>
        
        <!-- Cuadro de reglas -->
        <div id="reglas">
            <p><strong>Game Rules:</strong></p>
            <p>Use the keys <strong>W</strong> (up), <strong>A</strong> (left), <strong>S</strong> (down), and <strong>D</strong> (right) to move.</p>
            <p>Follow the rules and get ready for the challenge!</p>
            <p>Move around and give kisses to all the Bonshots to win ❤️</p>
            <p>Press the <strong>Q</strong> key to camouflage and avoid being seen, but you can't kiss while camouflaged!</p>            
        </div>

        <!-- Botón para iniciar el juego -->
        <button id="jugarBtn" onclick="iniciarJuego()">Play</button>

        <!-- Terreno y mensaje de juego -->
        <div id="vidas"></div>
        <div id="terreno" style="display:none;"></div>
        <div id="mensaje" style="display:none;"></div>

        <!-- Botón para volver a jugar -->
        <button id="volverBtn" onclick="iniciarJuego()" style="display:none;">Play again</button>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
